%description-16 {
    font-family: $neue;
    font-size: 1.6rem;
    font-weight: 500;
  }

%description-15 {
    font-family: $neue;
    font-size: 1.5rem;
    font-weight: 100;
  }

%description-14{
    font-family: $neue;
    font-size: 1.4rem;
    font-weight: 500;
}

%description-20{
    font-family: $neue;
    font-size: 2rem;
    font-weight: 500;

}
%description-20-medium{
  font-family: $neue;
  font-size: 2rem;
  font-weight: 600;

}
%cta{
    font-family: $neue;
    font-size: 2.5rem;
    font-weight: 600;
}