@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-XThin.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-XThin.woff') format('woff');
    font-weight: 10;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-XXThin.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-XXThin.woff') format('woff');
    font-weight: 1;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Mediu.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Light.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../public/fonts/NeueHaasDisplay-Thin.woff2') format('woff2'),
        url('../../public/fonts/NeueHaasDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

