%title-150-bold {
    font-family: $neue;
    font-size: 15rem;
    font-weight: bold;
    @media screen and (max-width: 600px) {
      font-size: 5.592rem;
    }
  }

%title-110-bold {
  font-family: $neue;
  font-size: 11rem;
  font-weight: bold;
  line-height: 10rem;
  @media screen and (max-width: 600px) {
    font-size: 5rem;
    line-height: 5.481rem;
    font-weight: 600;
  }
}

%title-110-medium {
    font-family: $neue;
    font-size: 11rem;
    font-weight: 600;

   
  }
  
  %title-60 {
    font-family: $neue;
    font-size: 6rem;
    font-weight: bold;

    @media screen and (max-width: 600px) {
      font-size: 3.379rem;
      line-height: 4.5rem;
    }
  }
  

  %title-55-medium {
    font-family: $neue;
    font-size: 5.5rem;
    font-weight: 600;


    @media screen and (max-width: 600px) {
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }
  
  %title-35-medium {
    font-family: $neue;
    font-size: 3.5rem;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }