%title-150-bold {
    font-family: $neue;
    font-size: 15rem;
    font-weight: bold;
  }

%title-110-bold {
  font-family: $neue;
  font-size: 11rem;
  font-weight: bold;
}

%title-110-medium {
    font-family: $neue;
    font-size: 11rem;
    font-weight: 600;
  }
  
  %title-60 {
    font-family: $neue;
    font-size: 6rem;
    font-weight: bold;
  }
  

  %title-55-medium {
    font-family: $neue;
    font-size: 5.5rem;
    font-weight: 600;
  }
  
  %title-35-medium {
    font-family: $neue;
    font-size: 3.5rem;
    font-weight: 600;
  }